.door {
    height: 30rem;
    width: auto;
}

.doorframe {
    display: inline;
}

@media (max-width: 1200px) {
    .door {
        height: 25rem;
        width: auto;
    }
}

@media (max-width: 900px) {
    .door {
        height: 20rem;
        width: auto;
    }
}